<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name="connstring" connectionString="Data Source=dbaserverbr.database.windows.net;Initial Catalog=dbaSistemaVendas;User ID=guil;Password=Utakatrevoso48@" />

</connectionStrings>

</configuration>